.automation-panel {
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    border-radius: 2px;
}

.automation-panel .automation-content {
    position: relative;
    background: white;
    margin: 0 auto;
    height: 200px;
    border-radius: 5px;
    width: 90%;
    padding: 15px;
}

.buttons-row {
    display: flex;
    margin-top: 15px;
}

.buttons-row button {
    margin-right: 10px;
}

.reset-button {
    position: absolute;
    right: 15px;
}

.populate-button, .another-action-button {
    margin-left: 10px;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: #1a1919c2;
    position: absolute;
}
