<div class="automation-panel">
  <div class="automation-content">
    <button *ngIf="resetButtonAllowed" class="pure-button reset-button" (click)="handleResetClicked()">Reset</button>

    <ng-container *ngIf="currentStep === AutomationStep.SELECT_ELEMENT">
      <h3>Step 1: Select Element</h3>
      <span *ngIf="selectedElementsNumber === 0">Please select one or several elements</span>
      <ng-container *ngIf="selectedElementsNumber > 0">
        <span>You've selected {{ selectedElementsNumber }} and we predicted {{ predictedElementsNumber }}
          , {{ selectedElementsNumber + predictedElementsNumber }} element(s) in total. Are these correct elements?</span>
        <div class="buttons-row">
          <button class="pure-button pure-button-primary" (click)="handleApproveSelectionClicked()">Yes</button>
          <button class="pure-button" (click)="handleResetClicked()">Reset</button>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="currentStep === AutomationStep.SELECT_ACTION">
      <h3>Step 2: Select Action</h3>
      <span>Please select an action to be performed on selected elements</span>
      <div class="buttons-row">
        <button class="pure-button" (click)="handleClickElementsClicked()">Click</button>
        <button class="pure-button" (click)="handlePopulateInputActionClicked()">Populate Input</button>
      </div>
    </ng-container>

    <ng-container *ngIf="currentStep === AutomationStep.SELECT_INPUT">
      <h3>Step 3: Enter Text</h3>
      <span>Please enter text to be populated in input</span>
      <input type="text" [formControl]="populateTextControl">
      <button class="pure-button populate-button" (click)="handlePerformPopulateInputClicked()">Populate</button>
    </ng-container>

    <ng-container *ngIf="currentStep === AutomationStep.ALL_DONE">
      <h3>Action Successfully Done!</h3>
      <button class="pure-button" (click)="handleResetClicked()">Back to selection</button>
      <button class="pure-button another-action-button" (click)="handleSelectActionClicked()">Another action on selected</button>
    </ng-container>
  </div>
</div>
